import React from 'react'
import { Story, Meta } from '@storybook/react'
import { {{ name }} } from '.'


export interface {{ properCase name }}DocsProps {
}

/**
 * {{ name }} hook ...
 */
export const {{ properCase  name }}Docs = () => null

export default {
  title: 'Hooks/{{ name }}',
  component: {{ properCase name }}Docs,
  excludeStories: ['{{ properCase  name }}Docs'],
} as Meta


const Template: Story<{{ properCase name }}DocsProps> = ({ }) => {
  const value  = {{ name }}()
  return <div>{JSON.stringify(value)}</div>
}

export const Default = Template.bind({})
Default.args = { }

export const Primary = Template.bind({})
Primary.args = { }
Primary.parameters = {
  docs: {
    description: {
      story: '',
    },
  },
}
